@import '../../graphics/styles/colors.scss';
.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: $comp-color-bg;
    color: $text-color;
    text-align: center;
    &-block{
    display: flex;
    flex-direction: row;
    padding-left: 30px;
   }
}