@import '../../graphics/styles/colors.scss';

.sidebar {
  position: fixed;
  top: 50%; // Центрируем по вертикали
  left: 30px;
  width: 50px;
  height: 90%; // Высота будет зависеть от содержимого
  background-color: $menu-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%); // Центрируем по вертикали
  padding: 20px 0; // Отступы сверху и снизу
  border-radius: 15px;

  .sidebar-item {
    text-decoration: none;
    margin: 10px 0; // Отступы между иконками
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; // Занимает всю ширину блока
    height: 50px; // Высота блока для иконки
    border-radius: 10px; // Закругление углов
    transition: background-color 0.3s; // Плавный переход
    color: $icons-color;
    .icon-container {
      color: $icons-color;
      font-size: 24px;
      transition: color 0.3s; // Плавный переход цвета иконки
      // width: 90%; // Занимает всю ширину блока
      // height: 90%; // Занимает всю высоту блока
      display: flex;
      justify-content: center;
      align-items: center;

      // &:hover {
      //   color: $menu-color; // Цвет иконки при наведении
      // }
    }

    &:hover {
      background-color: $icons-color; // Цвет фона при наведении
      color: $icons-color;
    }
  }
}