$primary-color: #C5E6A6;
$secondary-color: #9899A6;
$text-color: #FFFFFF;
$subtext-color: #000000;
$dim-color: #666666;

$bg-linear:linear-gradient(90deg, rgba(89,89,92,1) 0%, rgba(211,211,214,1) 39%, rgba(143,166,171,1) 100%);

$hover-color: #161A35;
$menu-color: #f0f9ff3d;
$icons-color: #4A5261;
$block-color:#CEDEE7;
$comp-color-bg: #e9edf628;