$primary-color: #C5E6A6;
$secondary-color: #9899A6;
$text-color: #FFFFFF;
$subtext-color: #000000;
$dim-color: #666666;

$hover-color: #161A35;
$menu-color: #f0f9ff3d;
$icons-color: #4A5261;
$block-color:#CEDEE7;
$comp-color-bg: #E9EDF6;