@import './variables.scss';

.app {
    position: relative;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    background-color: $comp-color-bg;
  }
  
  .page-enter {
    opacity: 0;
  }
  .page-enter-active {
    opacity: 1;
    transition: opacity 0.5s;
  }
  .page-exit {
    opacity: 1;
  }
  .page-exit-active {
    opacity: 0;
    transition: opacity 0.5s;
  }