@import '../../graphics/styles/colors.scss';
.today-events {
    width: 300px; // Ширина как у календаря
    height: 75px; // Высота компонента
    padding: 15px;
    border-radius: 15px; // Закругление всего контейнера
    overflow: hidden;
    background: rgba(255, 255, 255, 0.1); // Полупрозрачный фон
    backdrop-filter: blur(10px); // Эффект размытия
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); // Тень для глубины
    display: flex;
    justify-content: center; // Центрируем содержимое
    flex-direction: column;
    align-items: center; // Центрируем содержимое
    font-size: 16px; // Размер шрифта
    font-weight: bold;
    
    &-container{
      display: flex;
      flex-direction: column;
    }
 
    .event-item {
      color: #ff5722;
      font-weight: 900;
      // margin-bottom: 10px;
      // padding-top: 1px;
      border-radius: 5px;
      // background: rgba(255, 255, 255, 0.1); // Полупрозрачный фон
    }
  }